/* GENERAL SETTINGS */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', serif;
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: white;
  border-bottom: 0.5px solid #c4c4c4;
  z-index: 2;
}

.divleftelements {
  position: absolute;
  top: 20px;
  left: 15px;
}

.divrightelements {
  position: absolute;
  top: 20px;
  right: 15px;
  width: auto;
  background: transparent;
}

.logo {
  display: inline-block;
  padding-right: 40px;
}

.logo img {
  position: absolute;
  top: 7px;
  left: 0;
  width: 30px;
  height: auto;
  vertical-align: middle;
}

/* NAV MENU HEADER DESTRO */
#navmenu {
  display: inline-block;
  height: 80px;
  font-size: 13px;
  font-weight: 700;
  padding-top: 15px;
  background: transparent;
}

#navmenu li{
  display: inline-block;
}

#navmenu li a {
  display: inline-block;
  padding: 0 15px;
  border-bottom: 3px solid transparent;
  height: 45px;
  color: #484848;
  text-decoration: none
}

#navmenu li a:hover {
  border-color: #484848;
}

.searchheader {
  display: inline-block;
}

.search {
  display: inline-block;
  width: 350px;
  height: 45px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  font-size: 20px;
  box-shadow: 1px 1px #c4c4c4;
  padding-left: 10px;
}

/* SECONDO HEADER */
.headerbottom {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 53px;
  background: white;
  border-bottom: 0.5px solid #c4c4c4;
  z-index: 3;
}

.divfilters {
  position: absolute;
  display: inline-block;
  background: transparent;
}

.filters {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding-top: 7px;
  background: transparent;
}

.selected {
  display: inline-block;
  padding: 10px 15px 10px;
  border: 2px solid red;
  border-radius: 20px;
  height: auto;
  color: #505050;
}

#filtermenu {
  display: inline-block;
  padding-left: 55px;
  height: auto;
  font-size: 13px;
  font-weight: 400;
  background: transparent;
}

.headerbottom li {
  display: inline-block;
  padding: 10px 15px 10px;
  border: 2px solid #999999;
  border-radius: 20px;
  height: auto;
  color: #505050;
}

#filtermenu li:hover {
  border-color: black;
}

/* MAIN */

.main {
  position: relative;
  width: 100%;
  height: auto;
  margin: 15px auto;
  background: transparent;
  padding-top: 25px;
  text-align: center;
}

.row {
  padding-top: 80px;
}

.traveldestination{
  display: inline-block;
  position: relative;
  padding-right: 5px;
}

.imgdiv {
  display: inline-block;
  position: relative;
}

.imgdiv::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 335px;
  height: 220px;
  background: rgba(0, 0, 0, 0.25);
  object-fit: cover;
}

.imgdiv img {
  width: 335px;
  height: 220px;
  border-radius: 5px;
  object-fit: cover;
}

.main h1 {
  font-size: 20px;
  text-align: left;
  padding-left: 200px;
  padding-bottom: 25px;
  margin-left: -105px;
}

.text-descr {
  display: block;
  width: 94%;
  margin: 0 3%;
  text-align: justify;
}

.price {
  display: block;
  width: 94%;
  margin: 0 3%;
  text-align: left;
}

.divhostcountry {
  position: relative;
  display: block;
  width: 94%;
  text-align: left;
  margin: -8px 3% 3px;
}

.superhost {
  display: inline-block;
  text-align: left;
  border: 1.5px solid #999999;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 2px;
}

.countrytext  {
  display: inline-block;
  text-align: left;
}

.redstar {
  display: inline-block;
  color: red;
  font-size: 20px;
  margin-left: 155px;
}

.rating {
  display: inline-block;
  /* margin-left: 100px; */
}

.back {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 5px;
  margin: auto 10px;
  color: #525252;
  z-index: 2;
  font-size: 15px;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 0.1px solid white;
  background-color: white;
  height: 30px;
  width: 30px;
}

.forward {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  padding: 5px;
  margin: auto 10px;
  color: #525252;
  z-index: 2;
  font-size: 15px;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 0.1px solid white;
  background-color: white;
  height: 30px;
  width: 30px;
}

.heart {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  margin: auto 10px;
  z-index: 2;
  font-size: 25px;
  padding-right: 10px;
}

.traveldestination:hover .back {
  display: block;
}

.traveldestination:hover .forward {
  display: block;
}

.traveldestination:hover .heart {
  display: block;
}

.country {
  display: block;
  position: absolute;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  font-size: 25px;
  text-shadow: 2px 2px black;
}
